@model SpaNewYork.Models.HoaDon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayHoaDon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayHoaDon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanTramChietKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanTramChietKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTienChietKhauGiamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTienChietKhauGiamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongThanhToan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SoHoaDon">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
